body
{
    color: white;
    background: cyan;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_objects
{
    color: red;
}
#camera
{
    border: 2px dashed blue;
    width: 350px;
    height: 300px;
}
#result
{
    border: 2px dashed pink;
    width: 350px;
    height: 300px;
}
#result_object_name
{
    color: yellow;
}
#result_object_accuracy
{
    color: yellow;
}